.recipe {
    border-radius: 10px;
    box-shadow: 0px 5px 20 px rgb(71, 71, 71);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);    align-items: center;
    min-width: 40%;
}

.image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}